html
  head
    title Be Productive
    link(rel='stylesheet', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Space+Mono' rel='stylesheet')
    script(src='time.js')
  body
    #controls
      #delete(onclick='clearTimelog()') X
    #clock-wrapper
      #clock
        #date.wrapper loading...
        #time.wrapper loading...
      #elapsed
        #start-time.wrapper
        #current-time.wrapper
    #timelog-wrapper