html
  head
    title Be Productive
    link(rel='stylesheet', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Space+Mono' rel='stylesheet')
    script(src='scripts/controller.js' type='module')
    script(src='scripts/time.js' type='module')
    script(src='scripts/timelog.js' type='module')
  body
    #overlay
      #modal
        .wrapper Continue with action?
        #buttons
          #cancel.wrapper cancel
          #accept.wrapper accept
    #controls
      #delete X
    #clock-wrapper
      #clock
        #date.wrapper loading...
        #time.wrapper loading...
      #elapsed
        #start-time.wrapper
        #current-time.wrapper
    #timelog-wrapper