html
  head
    title Be Productive
    link(rel='stylesheet', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Space+Mono' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
  body
    .outer
      .middle
        .inner
          #clock
            #date.wrapper
              | loading...
            #time.wrapper
              | loading...
          #elapsed
            #started.wrapper
            #current.wrapper
    script.
      let now, started, diff;
      let isRecording = false;
      
      function update() {
        now = moment()
        $('#date').html(now.format('dddd MMM.M, YYYY'));
        $('#time').html(now.format('h:mm A'));
        if (isRecording) {
          $('#started').html(started.format('h:mm:ss'));
          diff = moment.duration(now.diff(started))
          $('#current').html(Math.floor(diff.asMinutes()) 
          + 'm ' + Math.round(diff.asSeconds()) + 's');
        }
      }

      $(document).on("keypress", function (e) {
          // spacebar
          if (e.which === 32) {
            isRecording = true;
            started = now;
          }
          // enter
          if (e.which === 13) {
            isRecording = false;
            $('#started').html('');
            $('#current').html(''); 
          }
      });

      setInterval(update, 1000);