body {
  background: #1B1464;
  color: #000000;
  font-family: 'Space Mono', monospace;
}

#controls {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#delete {
  text-align: center;
  font-size: 2.5vw;
  float: right;
  height: 4vw;
  width: 4vw;
  background-color: #eb2f06;
}

#clock-wrapper {
  border: 2px solid #2c3e50;
  margin: 10vh auto;
  width: 70%;
}

.wrapper {
  text-align: center;
  padding: 0.5em;
}

#clock {
  background: #0652dd;
}

#date {
  font-size: 1.5em;
  background: #0540ab;
}

#time {
  font-size: 6em;
  font-weight: bold;
}

#elapsed {
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
}

#elapsed>* {
  flex: 1 1 auto;
}

#start-time {
  background: #ffa502;
}

#current-time {
  background: #eb2f06;
}

#timelog-wrapper {
  margin: 10vh auto;
  width: 70%;
}

.day {
  background-color:#70a1ff;
  text-align: center;
  margin-bottom: 5vh;
}

.logHeader {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1vh;
  border-bottom: 2px solid #2c3e50;
}

.log-entry {
  font-size: 1.3em;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #2c3e50;
}

.log-entry>* {
  flex: 1 1 auto;
}

.aggregate {
  background-color: #1ABC9C;
}

.accent {
  color: #eb2f06;
}