body {
  background: #ecf0f1;
  color: #2c3e50;
  font-family: 'Space Mono', monospace;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.wrapper {
  text-align: center;
  padding: 0.5em;
}

#clock {
  background: #3498db;
}

#date {
  font-size: 1em;
  background: #2980b9;
}

#time {
  font-size: 6em;
  font-weight: bold;
}

#elapsed {
  display: flex;
  font-size: 2em;
}

#started {
  width: 50%;
  background: #f39c12;
}

#current {
  width: 50%;
  background: #e74c3c;
}